
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
img.company-logo{
    height: 50px;
    width: 50px;
  }

.nav-header{
    height: 900px;
    width: none;
    border: 10px;
    justify-content: space-between;
    background-image: url("/Assets/Hero-bg.png");
    }

.nav-header1{
  display: flex;
}

.signup-btn{
  background-color: #4E47FF;
  height: 48px;
  width: 132px;
  font-size: 20px;
  color: aliceblue;
  border-radius: 12px;
  

  
}