
.inter-bold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.nav-header{
    height: 900px;
    width: none;
    background-image: url("/Assets/Hero-bg.png");
}

.nav-header1{
  display: flex;
  width: none;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  margin: 0 120px 0 120px;
  border: 30px;
  
  
}

ul li{
  list-style: none;
}


.company-name{
  font-weight: 700;
  font-size: 30px;
  color: #4E47FF;
}

.signup-btn{
  color: aliceblue;
  width: 135px;
  height: 50px;
  background-color: #4E47FF;
  border-radius: 14px;
}

.nav-header2{
  text-align: center;
  font-weight: 300;
  font-size: 70px;
  margin-top: 300px;
}

.stf-btn{
  color: aliceblue;
  width: 150px;
  height: 50px;
  font-weight: 300;
  background-color: #4E47FF;
  border-radius: 10px;
}

.action{
  display: flex;
  margin: 90px 120px 90px 120px;
  justify-content: space-between;
  align-items: center;
}
.action-h2{
  font-weight: 600;
  font-size: 40px;
  margin: 10px 0px 10px 0px;
}

.action-p{
  color: #25243277;
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.action-btn{
  color: aliceblue;
  width: 200px;
  height: 50px;
  font-weight: 300;
  font-size: medium;
  background-color: #4E47FF;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;

}
img.right-action{
  border-radius: 40px;
  width: 420px;
}

.users-activity{
  color: #252432;
  height: 350px;
  width: none;
  box-sizing: border-box;
  background-color: #4d47ff1f;
  border-radius: 20px;
  margin: 90px 120px 90px 120px;
  
}

.users-heading{
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin: auto;
}
.users-number{
  display: flex;
}

.users-vat{
  display: flex;
}
